@using System.Security.Claims

@{
var userName = User.Identity?.Name; // Default to email
var nameClaim = User.FindFirst(ClaimTypes.GivenName)?.Value; // First Name
var surnameClaim = User.FindFirst(ClaimTypes.Surname)?.Value; // Last Name
var displayName = User.FindFirst("name")?.Value; // Full Name

if (!string.IsNullOrEmpty(displayName))
{
userName = displayName;
}
else if (!string.IsNullOrEmpty(nameClaim) && !string.IsNullOrEmpty(surnameClaim))
{
userName = $"{nameClaim} {surnameClaim}";
}
}

<ul class="navbar-nav">
    @if (User.Identity?.IsAuthenticated == true)
    {
    <span class="navbar-text text-dark">
            Hello @userName!

        @if (User.IsInRole("AdminsUI"))
        {
        <strong>(Role: Admin User)</strong>
        }
        else if (User.IsInRole("UsersUI"))
        {
        <strong>(Role: Standard User)</strong>
        }
        else
        {
        <strong>(No assigned role)</strong>
        }
        </span>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut">Sign out</a>
    </li>
    }
    else
    {
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">Sign in</a>
    </li>
    }
</ul>
