@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prayer Cards</h1>
    <p>Coast Community Church - Youth Prayer Cards are a way for youth group members to request prayer for certain things.</p>
</div>

