@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prayer Cards</h1>
    <p>Coast Community Church - Tumbi - Youth Prayer Cards are a way for youth group members to request prayer for certain things.</p>
    <p>Click on the <a asp-area="" asp-controller="PrayerCardExcel" asp-action="Index">Prayer Cards</a> link in the navigation bar to view the prayer cards.</p>
    <p>Prayer Cards will continue to be distributed manually every Sunday if Youth Group was on the previous Friday night.</p>
    <p>Each week, last week's Prayer Cards will be deleted and replaced with the ones from the new week.</p>
</div>

