@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="text-center">
    <h1 class="display-4">Prayer Cards - Privacy Policy</h1>
    <p>The protection of youth's data is a priority</p>
    <p>This site is protected by Microsoft Entra ID Security. At the current time, assigned adults can see other adult's prayer cards.</p>
</div>
